.gameGrid {
  --columnsCount: 5;
  --rowsCount: 6;
  --gameGrid-width: var(--app-width);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  width: var(--gameGrid-width);
}

.gameGrid__grid {
  --keys-gap: calc(min(var(--gameGrid-width), 100vw) / 100);
  display: grid;
  gap: var(--keys-gap);
}

.gameGrid__row {
  display: grid;
  grid-template-columns: repeat(var(--columnsCount), auto);
  gap: var(--keys-gap);
}

.gameGrid__cell {
  --optimal-ratio: calc(1 / 7);
  --key-size: calc(min(var(--gameGrid-width), 100vw) * var(--optimal-ratio) - (var(--keys-gap) + 5px));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--key-size);
  max-width: 60px;
  height: var(--key-size);
  max-height: 60px;
  font-size: clamp(15px, 6vw, 31px);
  font-weight: 800;
  text-transform: uppercase;
  background: #f0f2f6;
  border-radius: 4px;
  user-select: none;
}

.gameGrid__cell--used {
  background: var(--used);
}

.gameGrid__cell--present {
  background: var(--yellow);
}

.gameGrid__cell--truly {
  background: var(--green);

}
